
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  &-column {
    flex: 4;
    padding-right: 15px;
  }
  &-operator {
    flex: 4;
    padding-right: 15px;
  }
  &-input {
    flex: 6;
    padding-right: 15px;
  }
  &-btn {
    flex: 1;
  }
}

.pagination-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-input {
  width: 45px;
}

.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  text-align: center;
}
.kv-avatar .file-input {
  display: table-cell;
  max-width: 220px;
}

.kv-preview-data{
  height: 32px!important;
}